@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap');

body{font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: aquamarine;}

.image{ background-color: white;
        padding:8px;
        border-radius: 12px;
        border: 1px solid powderblue;
}

img{width: 480px;
    height:380px;
    object-fit: cover;
    border-radius:12px;}

.container{max-width: 500px;
            margin: auto;
            margin-top: 20vh;
            background-color: white;
            border-radius: 12px;
            padding: auto;
            border: 5px darkgray;
}
.title{ font-size: 20px;
font-weight: bold;
color: blue;
padding: 8px;
margin-top: 16px;
text-align: center;
}
p{
    padding: 8px;
}